dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.mp4
*.mp4
.Rproj.user
.png
.zip
.jpg
.jpeg
.bmp
.gif
*.zip
MicroeconomicsOpenText-2017A-LyryxLearning/
quantum_micro_source_files/
archive-bd2024/
selfc*
picsfigs/longgamework_randompayoffs_noul.png
picsfigs/longgamework_randompayoffs_ul.png
.DS_Store
