p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

div.FOO {
  font-weight: bold;
  color: red;
}
.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 1em;
  margin-bottom: 5px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.note{
  padding: 1em 1em 1em 1em;
  margin-bottom: 5px;
  background: #ffb972 5px center/3em no-repeat;
}
.warning{
  padding: 1em 1em 1em 1em;
  margin-bottom: 5px;
  background: #ffaaa5 5px center/3em no-repeat;
}
.tip{
  padding: 1em 1em 1em 1em;
  margin-bottom: 5px;
  background: ##f8e6ff 5px center/3em no-repeat;
}
.compqn{
  padding: 1em 1em 1em 1em;
  margin-bottom: 5px;
  background: #cbecf2 5px center/3em no-repeat;
}
.goofus{
  margin-bottom: 2px;
  background: #fcd1c2 2px center/3em no-repeat;
}
.gallant{
  margin-bottom: 2px;
  background: #c9f5c9 2px center/3em no-repeat;
}
.boo {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5;
  position:relative;
}
div.boo:before {
    content: "\f518";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top: 0px;
    font-size: 45px;
 }
 
.rmdtipi {
  background-image: url("../images/tip.png");
}